<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hny.bookmine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BOOKMINE">
        <activity android:name=".Signup"></activity>
        <activity android:name=".login" />
        <activity android:name=".loginsignup.startupactivity" />
        <activity
            android:name=".aboutus"
            android:label="About Us"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainActivity2"
            android:label="BOOKMINE2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BOOKMINE3"
            android:label="BOOKMINE3"
            android:parentActivityName=".MainActivity2">
            >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>